/** GENERAL STYLING **/

body {
    font-family: 'Open Sans', sans-serif;
}

p, textarea {
    font-family: 'Merriweather', serif;
    line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

main {
    margin-top: 1.5rem;
}

.display-4 {
    font-size: 2.5rem;
} @media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.align-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.align-right {
    justify-content: flex-end;
}

.text-align-center {
    text-align: center;
}

.flex-div {
    display: flex;
}

.section-title, .recent-section-title {
    font-family: 'Open Sans', sans-serif;
    margin-top: 12px;
    border-top: 1px solid #c8c8c8;
    text-align: center;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: none !important;
} .section-title span, .recent-section-title a span {
    display: inline-block;
    background: #fff;
    font-size: 12px;
    line-height: 22px;
    padding: 2px 28px 1px 28px;
    letter-spacing: 1px;
    vertical-align: middle;
    color: #000;
    position: relative;
    top: -12px;
    border-left: 18px solid #fff;
    border-right: 18px solid #fff;
}

.recent-section-title {
    text-align: left;
} .recent-section-title a span {
    color: #fff;
}

.recent-category-img {
    width: 100%;
    padding: 0rem 1rem 1rem 1rem;
}

#footer-social p {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 2px;
}

.text-white {
    color: #ffffff !important;
}

.rivista-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
} .rivista-link:hover {
    color: #000000 !important;
    background-color: #fcffa2;
    text-decoration: none;
}

.article-abstract {
    font-size: .9rem;
    color: #888;
}

/** HEADER **/

.blog-logo {
    height: 7rem;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.75rem;
} .blog-header-logo:hover {
    text-decoration: none;
}

.blog-header-logo-subtitle {
    font-size: 1rem;
}

/** NAVBAR **/

.nav-item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-weight: 400;
    font-size: .9rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
} @media (max-width: 992px) {
    .nav-main {
        text-align: right;
    }
}

/** BANNER RIVISTA **/
.banner-rivista {
    background-image: linear-gradient(to right, rgba(100,100,100,.9), rgba(100,100,100,.3)), url("../images/background.jpg"); /* W3C */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.banner-text {
    font-weight: 600 !important;
    text-transform: uppercase;
}

.banner-img {
    width: 90%;
    height: 70%;
    object-fit: cover;
    object-position: 100% 0;
}

.meta {
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    font-weight: 400 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #888;
    line-height: 1.1;
}

.meta a {
    color: #f5f5f5;
} .meta a:hover {
    text-decoration: none;
}

/** SPONSORS **/
.sponsor-list > a > img {
    padding: 1rem;
    width: 100%;
}

/** POST **/
.blog-post {
    margin-bottom: 4rem;
}

.post-img {
    width: 100%;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
}

.bottom-center {
    position: absolute;
    bottom: 1rem;
}

.post-titolo {
    margin-bottom: .25rem;
    font-size: 2rem;
}

.post-categoria {
    background-color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    color: #f5f5f5;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.post-data {

}

.post-corpo {
    line-height: 1.75;
}

.post-corpo {
}

.post-condivisione {
    font-size: 0.80rem;
    text-transform: uppercase;
    color: rgba(0,0,0,1);
}

.post-prevsucc {
    border-top: 1px solid #e5e5e5;
    color: rgba(0,0,0,.5);
}

.post-lateralbanner-postrecenti {
    font-family: "Open Sans",sans-serif !important;
    font-weight: bolder;
}

.recent-card {
    margin: 1rem 0 1.5rem 0;
}

.recent-card > div > h6 {
    margin: 0;
}

.recent-card-text {
    font-size: 0.8rem !important;
    font-weight: lighter !important;
    margin: 0;
}

.recent-card-side-image {
    width: 100%;
}

.recent-card-side-text {
    margin-left: 1rem;
}

.splitscreen {
    display: flex;
}

.left-1 {
    flex: 1;
}

.right-2 {
    flex: 2;
}

/** CARD **/
.no-border {
    border: 0;
    border-radius: 0;
}

/** FOOTER **/
.footer-blog {
    color: #999;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.footer-social {
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 2rem;
} .footer-social > li {
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
} .footer-social > li > a {
    font-size: 1.5rem;
    color: rgba(0,0,0,.5);
} .footer-social > li > a :hover {
    color: rgba(0,0,0,.7);
}

.footer-navbar {
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
}

.footer-legal {
    font-size: 0.80rem;
}

/** REDAZIONE **/
.redazione-card {
    margin-top: 2rem;
    margin-bottom: 2rem;

} .redazione-card > p, .redazione-card > div > p {
    margin: 0;
    font-size: 0.9rem;
} .redazione-card > h5, .redazione-card > div > h5 {
    margin: 0;
}

.redazione-posizione {
    font-style: italic;
}

.redazione-multipli {
    margin-bottom: 0.5rem;
}

/***************/
.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }

  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }

  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  /*
   * Blog name and description
   */
  .blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
  }
  .blog-description {
    font-size: 1.1rem;
    color: #999;
  }

  @media (min-width: 40em) {
    .blog-title {
      font-size: 3.5rem;
    }
  }

  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
